<%= simple_form_for [@tutor,@comment] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :rate,:as => :hidden %>
    <%#= f.input :body %>
    <%= f.input :body, label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
