<h1>New conversation</h1>

<%= form_tag conversations_path, method: :post do %>

    <div>
      <%= select_tag :user_id,options_from_collection_for_select(User.where(is_tutor:true),:id,:first_name) %>
    </div>

    <div>
      <%= text_area_tag :subject, nil, :placeholder => "Subject" %>
    </div>


    <div>
      <%= text_area_tag :body, nil, :placeholder => "Body" %>
    </div>

    <%= submit_tag "submit" %>
<% end %>