<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7" id="tutor-index-left">

      <div class="row">
        <% @tutors.each do |tutor| %>

            <div class="col-sm-6">


            <%= tutor.aasm_state %>

            <%= tutor.low_price %>
            <%= tutor.high_price %>
            <%= tutor.cellphone %>
            <%= tutor.user.name %>
            <%= image_tag tutor.image_url %>

            <%= link_to 'Show', tutor %>
            <%= link_to 'Edit', edit_tutor_path(tutor) %>
            <%= link_to 'Destroy', tutor, method: :delete, data: {confirm: 'Are you sure?'} %>
            <%= button_to 'Change State', changeState_path(tutor), method: :get %>



        </div>

        <% end %>

      </div>




      <div class="digg_pagination">
        <%= will_paginate @tutors %>
      </div>


      <%= link_to 'New Tutor', new_tutor_path %>

    </div>

    <div class="col-lg-3" id="map"></div>

  </div>

</div>






<script type="text/javascript" charset="utf-8">
    handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
        markers = handler.addMarkers(
            <%=raw @hash.to_json %>
        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
