<p id="notice"><%= notice %></p>

<h1>Listing Tutors</h1>

<table>
  <thead>
    <tr>
      <th>state</th>
      <th>low price</th>
      <th>high price</th>
      <th>cellphone</th>
      <th>user</th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.aasm_state %></td>

        <td><%= tutor.low_price %></td>
        <td><%= tutor.high_price %></td>
        <td><%= tutor.cellphone %></td>
        <td><%= tutor.user.name %></td>
        <td><%= link_to 'Show', tutor %></td>
        <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Change State',changeState_path(tutor), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor', new_tutor_path %>
