<p id="notice"><%= notice %></p>

<h1>Listing Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Degree</th>
      <th>Low price</th>
      <th>High price</th>
      <th>Cellphone</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.degree %></td>
        <td><%= tutor.low_price %></td>
        <td><%= tutor.high_price %></td>
        <td><%= tutor.cellphone %></td>
        <td><%= tutor.user %></td>
        <td><%= link_to 'Show', tutor %></td>
        <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor', new_tutor_path %>
