



<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @tutor.degree %>
</p>

<p>
  <strong>Low price:</strong>
  <%= @tutor.low_price %>
</p>

<p>
  <strong>High price:</strong>
  <%= @tutor.high_price %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @tutor.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.user.email %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @tutor.description %>

</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @tutor.image_url %>

</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<div id="calendar"></div>
<%= button_to "new event", new_tutor_event_path(@tutor), method: :get %>






<div id="comments">


  <h1>Listing Comments</h1>

  <table>
    <thead>
    <tr>
      <th>Rate</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @comments.each do |comment| %>
        <tr>

          <td>
          <% comment.rate.times do %>

              <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          </td>


          <td><%= comment.body %></td>
          <td><%= link_to 'Destroy', comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Comment', new_tutor_comment_path(@tutor) %>


</div>




<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(
            <%=raw @hash.to_json %>

//            [{
//                "lat": 0,
//                "lng": 0,
//                "picture": {
//                    "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
//                    "width":  32,
//                    "height": 32
//                },
//                "infowindow": "hello!"
//            }]


        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>

