<!--<p id="notice"><%#= notice %></p>-->

<%= hidden_field_tag('tutor_id', @tutor.id) %>


<div class="container-fluid col-lg-10 col-lg-offset-1">

  <!--picture and information table begin-->
  <div class="container-fluid well">

    <div class="row">

      <div class="col-md-8">
        <div>
          <%= image_tag @tutor.image_url, class: 'tutor-show-image' %>

          <!--message-->
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <%= form_tag tutor_direct_message_path(@tutor.user) do %>

                        <%= text_field_tag :subject, nil, class: "form-control counted", placeholder: "Type in your subject", style: "margin-bottom:10px;" %>
                        <%= text_area_tag :body, nil, class: "form-control counted", placeholder: "Type in your message", rows: "5", style: "margin-bottom:10px;" %>




                        <!--<textarea class="form-control counted" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>-->
                        <h6 class="pull-right" id="counter">320 characters remaining</h6>
                        <button class="btn btn-info" type="submit">Post New Message</button>

                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--message-->


          <%= link_to 'Edit', edit_tutor_path(@tutor) %> |
          <%= link_to 'Back', tutors_path %>
        </div>
      </div>

      <!--tutor info table-->
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">  <%= @tutor.user.name %>
          </div>
          <table class="table">
            <tbody>
            <tr class="text-success">
              <td class="col-sm-2">Degree</td>
              <td class="col-sm-8">
                <mark>
                  <%= @tutor.degree %>

                </mark>
              </td>
            </tr>

            <tr class="text-success">
              <td class="col-sm-2">Region</td>
              <td class="col-sm-8">

                <button class="btn btn-info">
                  <%= @tutor.region.name %>

                </button>
              </td>
            </tr>

            <tr class="text-success">
              <td class="col-sm-2">Course</td>
              <td class="col-sm-8">
                <% @subjects.each do |subject| %>
                    <button class="btn btn-success">

                      <%= subject.course %>
                    </button>

                <% end %>
              </td>
            </tr>

            <tr class="text-success">
              <td class="col-sm-2">Price</td>
              <td class="col-sm-8"> $<%= @tutor.low_price %>- $<%= @tutor.high_price %>

              </td>
            </tr>

            <tr class="text-success">
              <td class="col-sm-2">Cellphone</td>
              <td class="col-sm-8"><%= @tutor.cellphone %>
              </td>
            </tr>

            <tr class="text-success">
              <td class="col-sm-2">Email</td>
              <td class="col-sm-8">
                <a href="mailto:<%= @tutor.user.email %>"><%= @tutor.user.email %></a>
              </td>

            </tr>
            <tr class="text-success">
              <td class="col-sm-2"> Comments</td>
              <td class="col-sm-8">
                <button type="button" class="btn btn-info">
                  <%= link_to 'Leave Comment', new_tutor_comment_path(@tutor) %>
                </button>
              </td>

            </tr>
            <tr class="text-success">
              <td class="col-sm-2"> State(Only for Admin)</td>
              <td class="col-sm-8">
                <%= @tutor.aasm_state %>
                <%= button_to 'Change State', changeState_path(@tutor), method: :get %>

              </td>

            </tr>


            </tbody>
          </table>
        </div>

        <div id="calendar"></div>

        <!--<button type="button" class="btn btn-info">-->

        <!--<%= link_to "new event", new_tutor_event_path(@tutor), method: :get %>-->

        <!--</button>-->

        <!--test-->
        <div id="modal-test">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create a new
            event
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">New event</h4>
                </div>
                <div class="modal-body">
                  <h1>Welcome to create a new event</h1>
                  <%= render 'events/form' %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--test-->


      </div>
      <!--tutor info table-->

    </div>

  </div>
  <!--picture and information table end-->


  <!--Introduction and map begin-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div id="show-map" style='width: 300px; height: 400px;'></div>

      </div>

      <div class="col-md-8">

        <!--introduction-->
        <div class="container">
          <blockquote class="quote-box">
            <p class="quotation-mark">
              “
            </p>
            <p class="quote-text">
              <strong>Introduction:</strong>
              <%= @tutor.description %>
            </p>
            <p class="quotation-mark pull-right">
              ”
            </p>
            <hr>
            <div class="blog-post-actions">
              <p class="blog-post-bottom pull-left">

              </p>
              <p class="blog-post-bottom pull-right">
                <span class="badge quote-badge">896</span>  ❤
              </p>
            </div>
          </blockquote>
        </div>
        <!--introduction-->

      </div>

    </div>


  </div>
  <!--Introduction and map end-->


  <!--comments begin-->
  <div class="container-fluid">


    <div class="row">


      <!--<button type="button" class="btn btn-info" id="new-comment">-->
      <!--Ajax form-->
      <!--</button>-->
      <!--<div id="ajax-comments-form"></div>-->


      <div class="row">
        <div class="col-md-9" id="comments">
          <h1>Comments</h1>
          <table class="table">

            <tbody id="comment-tbody">
            <% @comments.each do |comment| %>
                <tr class="row">
                  <td class="col-sm-2">
                    <% comment.rate.times do %>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    <% end %>
                  </td>


                  <td class="col-sm-9"><%= comment.body %></td>
                  <td class="col-sm-1"><%= link_to 'Destroy', comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <div class="rating-block">
            <h4>Average user rating</h4>
            <h2 class="bold padding-bottom-7"><%= @avgRate %>
              <small>/ 5</small>
            </h2>

            <!--show star number begin-->
            <% starLight="btn btn-warning btn-sm" %>
            <% starGrey="btn btn-default btn-grey btn-sm" %>
            <!--show star number end-->

            <!--show rate star-->
            <div>
              <% @avgRate.times do %>
                  <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>

              <% end %>

              <% (5-@avgRate).times do %>
                  </button>
                  <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
              <% end %>

            </div>
            <!--show rate star-->


            <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
            <!--</button>-->

            <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
            <!--</button>-->

            <!--<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
            <!--</button>-->


          </div>


          <div class="col-lg-6">
            <h4>Rating breakdown</h4>
            <div class="pull-left">
              <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
              </div>
              <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">

                  <!--5 start-->
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: <%= @rateArr[0] %>">
                    <!--5 start-->

                    <!--<span class="sr-only">50% Complete (danger)</span>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-left">
              <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
              </div>
              <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">

                  <!--4 start-->
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width:<%= @rateArr[1] %>">
                    <!--4 start-->

                    <!--<span class="sr-only">80% Complete (danger)</span>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-left">
              <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
              </div>
              <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">

                  <!--3 start-->

                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width:<%= @rateArr[2] %>">
                    <!--3 start-->


                    <!--<span class="sr-only">80% Complete (danger)</span>-->
                  </div>
                </div>
              </div>
              <!--<div class="pull-right" style="margin-left:10px;">0</div>-->
            </div>
            <div class="pull-left">
              <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
              </div>
              <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">

                  <!--2 start-->
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width:<%= @rateArr[3] %>">
                    <!--2 start-->

                    <!--<span class="sr-only">80% Complete (danger)</span>-->
                  </div>
                </div>
              </div>
              <!--<div class="pull-right" style="margin-left:10px;">0</div>-->
            </div>
            <div class="pull-left">
              <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
              </div>
              <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                  <!--1 start-->
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width:<%= @rateArr[4] %>">
                    <!--1 start-->

                    <span class="sr-only">80% Complete (danger)</span>
                  </div>
                </div>
              </div>
              <!--<div class="pull-right" style="margin-left:10px;">0</div>-->
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
  <!--comments end-->
</div>








<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'show-map'}}, function () {
        markers = handler.addMarkers(
            <%=raw @hash.to_json %>

//            [{
//                "lat": 0,
//                "lng": 0,
//                "picture": {
//                    "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
//                    "width":  32,
//                    "height": 32
//                },
//                "infowindow": "hello!"
//            }]


        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);


    });
</script>

<script type="text/javascript" charset="utf-8">

    $('#new-comment').on('click', function () {
        $('#ajax-comments-form').hide().append('<div id="rateYo"></div><form novalidate="novalidate" class="simple_form new_comment" id="new_comment" action="/tutors/106/comments" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><div class="form-inputs"><div class="form-group hidden comment_rate"><input class="form-control hidden" type="hidden" name="comment[rate]" id="comment_rate"></div><div class="form-group string optional comment_body"><label class="control-label string optional" for="comment_body">Body</label><input class="form-control string optional" type="text" name="comment[body]" id="comment_body"></div></div><div class="form-actions"><input type="submit" id="comment-ajax-submit" name="commit" value="Create Comment" class="btn btn-default"></div></form>').fadeIn(2000);

        $("#rateYo").rateYo({
            rating: 3.6
        });

//      $("#rateYo").click(function () {
//          $('#comment_rate').val($("#rateYo").rateYo("rating"))
//
//      });

        $('#comment-ajax-submit').on('click', function (event) {
            event.preventDefault();
            rate = $("#rateYo").rateYo("rating");
            comment_body = $("#comment_body").val();

            $.ajax({
                url: '/tutors/' + $('#tutor_id').val() + '/comments',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    comment: {body: comment_body, rate: rate}
                },
                success: function (response) {
                    $('#comment-tbody').append('<tr class="row"><td class="col-sm-2"><i class="fa fa-star" aria-hidden="true"></i></td><td class="col-sm-9">It is so good!</td></tr>')


                }
            })
            ;


        })


    })
</script>

