<!DOCTYPE html>
<html>
<head>
  <title>Look4tutor</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Tangerine" %>
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Gloria Hallelujah" %>

  <%= csrf_meta_tags %>



  <script src="//maps.google.com/maps/api/js?key=AIzaSyAmlikxlGlCYIwCoWfaxPBrRMfQcPbPvSg"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->


</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="navbar-brand pull-left" href="/" id="logo">
            <!--<img  style="height: 40px;
                margin: 0;
                padding: 0;
                text-align: center;
                display:inline-block;
                vertical-align:top;"
                  src="logo.png"
                  alt="Smiley face">-->
            Look4Tutor
          </a>

        </li>

      </ul>


      <!--left nav bar-->
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>

        <li><%= link_to "Tutors", tutors_path %></li>
        <% if user_sign_in? %>
            <li><%= link_to "New tutor", new_tutor_path %></li>
            <li>
              <%= link_to "My Message", conversations_path %>
            </li>
            <li>
              <%= link_to "Chatting", chattings_index_path %>
            </li>
            <li>
              <%= link_to "Premium", new_charge_path %>
            </li>
        <% end %>









        <%# if user_sign_in? %>
        <!--<li>Hi,<%#= User.find(session[:user_id]).first_name %></li>-->
        <%# end %>

        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->


        <!--<li class="divider"></li>-->
        <!--<li class="dropdown-header">Nav header</li>-->
        <!--<li><a href="#">Separated link</a></li>-->
        <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
        <!--</li>-->
      </ul>

      <!--left nav bar-->

      <!--pull right nav ul-->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Admin", admin_root_path %></li>

        <% if user_sign_in? %>

            <li class="pull-right"><%= link_to "Log out", sessions_path, method: :delete %></li>
        <% else %>
            <!--user not sign in-->
            <li class="pull-right"><%= link_to "Log in", new_sessions_path %></li>
            <li class="pull-right"><%= link_to "Sign up", new_user_path %></li>


        <% end %>


      </ul>


    </div><!--/.nav-collapse -->
  </div>
</div>
<!-- Fixed navbar -->

<% if flash[:notice] || flash[:alert] %>
    <div class="container alert alert-danger" style="margin-top: 5px">
      <div>
        <%= flash[:notice] ? flash[:notice] : "" %>
      </div>
      <div>
        <%= flash[:alert] ? flash[:alert] : "" %>
      </div>
    </div>
<% end %>


<div class="container-fluid" id="wrap">
  <%= yield %>
</div>

<!--footer-->
<div id="footer">
  <div class="container">
    <p class="text-muted credit">CodeCore Final Project <a href="https://ca.linkedin.com/in/ricky-zhu">Ricky Zhu</a>.

      <a href="mailto:ricky@enbut.com">Email</a>
      <a href="https://ca.linkedin.com/in/ricky-zhu">Linkedin</a>
      <a href="https://github.com/zhuliangyu">Github</a>

    </p>
  </div>
</div>
<!--footer-->

</body>
</html>


<!--pure chat js library-->
<script type='text/javascript' data-cfasync='false'>window.purechatApi = {
    l: [], t: [], on: function () {
        this.l.push(arguments);
    }
};
(function () {
    var done = false;
    var script = document.createElement('script');
    script.async = true;
    script.type = 'text/javascript';
    script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
    document.getElementsByTagName('HEAD').item(0).appendChild(script);
    script.onreadystatechange = script.onload = function (e) {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
            var w = new PCWidget({c: 'd9b5f689-0eba-4edd-9810-1759e7c91873', f: true});
            done = true;
        }
    };
})();</script>
<!--pure chat js library-->


<!--hover change nav-->
<script type="text/javascript" charset="utf-8">
    $('li a').hover(
        function () {

            $(this).parent('li').addClass('active');

        },

        function () {

            $(this).parent('li').removeClass('active');

        }
    );
</script>
<!--hover change nav-->

<!--google analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89408190-1', 'auto');
    ga('send', 'pageview');

</script>
<!--google analytics-->